@model IEnumerable<PostSystem.Website.ViewModels.PostOfficeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "PostOffices", FormMethod.Get))
{
    @Html.DropDownList("city", ViewBag.Cities as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Търсене" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office_Post_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Office_City.City_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office_Post_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
