@model IEnumerable<PostSystem.Website.ViewModels.DeliveryViewModel>

@{
    ViewData["Title"] = "Пратки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Пратки</h1>

<p>
    <a asp-action="Create">Нова пратка</a>
</p>

@using (Html.BeginForm("Index", "Deliveries", FormMethod.Get))
{
    @Html.Label("Пощенски код: ")
    <input id="officeCode" name="officeCode" />
    <input type="submit" value="Търсене" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mail_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From_Office_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To_Office_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Delivery_Mail.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From_Delivery_Office.Office_City.City_Name), @Html.DisplayFor(modelItem => item.From_Delivery_Office.Office_Post_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To_Delivery_Office.Office_City.City_Name), @Html.DisplayFor(modelItem => item.To_Delivery_Office.Office_Post_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.ActionLink("Редактирай", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Изтрий", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
